.hero-wrapper {
  background: url('../assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 64px 0;
  background-position: left;
  text-align: center;
}

.hero-headline {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
}

.hero-tagline {
  color: #eee;
  font-size: 18px;
  font-weight: 500;
}
