.menu-grid {
  display: grid;
  grid-gap: 36px;

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.menu-card {
  position: relative;
  border: 4px solid #a78bfa;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 150ms ease-in-out;

  &:hover {
    .menu-hover-card {
      visibility: visible;
      transform: translateY(0);
    }
  }
}

.menu-image-container {
  position: relative;
  padding-bottom: 56%;
}

.menu-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-hover-card {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 8px;
  color: #fff;
  visibility: hidden;
  transform: translateY(200%);

  h3,
  p {
    letter-spacing: 0.1em;
  }
}
